html, body {
  background: #fafafa;
  margin: 0;
  padding: 0;
}

a {
  color: #6200ee;
  text-decoration: none;
}

.btn, 
.btn-large {
	background-color: rgb(0, 188, 212);
}

ul {
  margin: 0,
}
.twitter-tweet{
  margin: 0 !important;
};