.chuneSupplyWrapper .chuneSupplyPaper {
  font-family: Roboto;
}

.chuneSupplyWrapper .title {
  color: rgba(0, 0, 0, 0.87);
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 3px;
  line-height: normal;
  padding: 10px;
}

.chuneSupplyWrapper .subtitle {
  color: rgba(0, 0, 0, 0.6);
  font-family: Roboto;
  font-size: 14px;
  letter-spacing: 0.2px;
  line-height: normal;
  padding: 10px;
}

.chuneSupplyWrapper .chuneSupplyPaper .card {
  box-shadow: none;
  display: flex;
  height: 60px;
  width: 300px;
  margin: 0 auto;
  padding: 8px;
}

.chuneSupplyWrapper .chuneSupplyPaper .cover {
  width: 60px;
  height: 60px;
}

.chuneSupplyWrapper .chuneSupplyPaper .details {
  display: flex;
  flex-direction: column;
  width: 240px;
}

.chuneSupplyWrapper .chuneSupplyPaper .content {
  display: flex;
  flex-direction: column;
  padding: 5px 0 0 5px;
}

.chuneSupplyWrapper .chuneSupplyPaper .content .headline {
  color: #000;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
}

.chuneSupplyWrapper .chuneSupplyPaper .content .subheading {
  color: #000;
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.67;
}

.chuneSupplyWrapper .chuneSupplyPaper .content .headline.isActive {
  color: #6200ee;
}

.chuneSupplyWrapper .chuneSupplyPaper .content .subheading.isActive {
  color: #6200ee;
}

.chuneSupplyWrapper .chuneSupplyPaper .card:hover {
  background-color: #f9f5ff;
  cursor: pointer;
}
.padding_recent{ 
  padding: 0 0 20px 0;
}