.foryou{
  width: 1060px;
  margin: 0 auto;
}
.foryou-container{
  margin: 0 !important;
  width: 100% !important;
}
.chuneSupply{
  padding: 26px 0 0 0;
}
.iframe_blog{
  width: 100%;
  height: 92vh;
}
.betaLogo{
  color: #ffffff;
  font-family: 'Roboto';
  float: right;
  font-size: 12px;
  text-transform: uppercase;
}
.betaLogoColor{
  color: #552e89;
  font-family: 'Roboto';
  float: right;
  font-size: 12px;
  text-transform: uppercase;
}
.root{
  width: 150px !important;
  padding: 8px !important;
}
.thumb{
  background-color: #ffffff !important;
}
.trackBefore{
  background-color: #ffffff !important;
}
.trackAfter{
  background-color: rgba(255, 255, 255, .7) !important;
}